

/*��Ƭ�߿�Բ��*/
:root {
    --box-border-radius: 20px;
}

/*����������ɫ(��ɫ)*/
:root {
    --first-screen-font-color-light: #ded6d2;
}

/*����������ɫ(��ɫ)*/
:root {
    --first-screen-font-color-dark: #23242a;
}