

/*��Ƭ�߿�Բ��*/
:root {
    --box-border-radius: 20px;
}

/*����������ɫ(��ɫ)*/
:root {
    --first-screen-font-color-light: #5a9dd0;
}

/*����������ɫ(��ɫ)*/
:root {
    --first-screen-font-color-dark: #23242a;
}